#colectionFig {
    
}

#colectionFig h3 {
    text-align: center;
    color: #F0EFEF;
    margin-block: 20px;
}

#coletionsFig {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 8px;
}

#coletionsFig .fig {
    width: 90px;
    height: 90px;
}

.rareFig {
    width: 120px;
    height: 120px;
}

.memeContainer{
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}