#colectionFig {
    width: 100%;
}

#colectionFig h3 {
    text-align: center;
    color: #F0EFEF;
    margin-block: 20px;
}

#coletionsFig {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 8px;
}

#coletionsFig .fig {
    width: 80px;
    height: 80px;
}