main section #gif-content {
    text-align: center;
}

main section #gif {
    height: 490px;
    max-width: 500px;
    border-radius: 8px;
}

main section #content {
    display: flex;
    flex-direction: column;
}

main section #content h1 {
    font-family: 'Rubik Dirt', cursive;
    font-weight: 400;
    font-size: 3.5rem;
}

main section #content h2 {
    font-family: 'Rubik Dirt', cursive;
    font-weight: 400;
    font-size: 3rem;
}

main section #content #user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-block: 1rem;
}

main section #content #user #imgUser {
    width: 60px;
    background-color: #CCFF66;
    border-radius: 50%;
} 

main section #content #user #inf {
    font-size: 1rem;
}

main section #content #user #bar {
    width: 350px;
    height: 1px;
    background-color: #DE6EFC;
}

main section #content #pCol {
    text-align: center;
    font-size: 1.5rem;
}

main section #content #homeImgs {
    align-self: center;
}

main section #content #homeImgs1 {
    width: 100px;
    height: 100px;
}

main section #content #homeImgs2 {
    width: 170px;
    height: 170px;
}

main section #content #homeImgs3 {
    width: 100px;
    height: 100px;
}