main #gif-content {
    text-align: center;
    background-image: url('../img/border-orange.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    width: 20vw;
    height: 20vw;
    min-width: 200px;
    min-height: 200px;
    max-width: 400px;
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8%;
    box-shadow: 0px 0px 20px 10px #F8953B88;
}

main #gif {
    width: 100%;
    min-width: 160px;
    border-radius: 8px;
}

main #content {
    margin-top: 40px;
    width: 40vw;
    max-width: 400px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main #content h1 {
    font-family: 'Rubik Dirt', cursive;
    font-weight: 400;
    font-size: 2.8rem;
}

main #content h2 {
    font-family: 'Rubik Dirt', cursive;
    font-weight: 400;
    font-size: 2.3rem;
}

main #content #user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-block: 1rem;
}

main #content #user #imgUser {
    width: 60px;
    background-color: #CCFF66;
    border-radius: 50%;
} 

main #content #user #inf {
    font-size: 0.8rem;
}

main #content #user #bar {
    width: 40vw;
    max-width: 260px;
    height: 1px;
    background-color: #DE6EFC;
}

main #content #pCol {
    text-align: center;
    font-size: 1.2rem;
}

main #content #homeImgs {
    align-self: center;
}

main #content #homeImgs1 {
    width: 100px;
    height: 100px;
}

main #content #homeImgs2 {
    width: 170px;
    height: 170px;
}

main #content #homeImgs3 {
    width: 100px;
    height: 100px;
}

main #home-parent{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}