#sectionLogin, #sectionRegister {
    display: none;
}

.sectionFather {
    display: flex;
    justify-content: center;
}

.cadastrogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-top: 40px;
}

.cadastrogin #navLogin {
    display: flex;
    align-items: center;
    gap: 2px;
    width: 100%;
}

.cadastrogin #navLogin a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: auto;
    border-start-start-radius: 15px;
    border-start-end-radius: 15px;
    background-color: rgba(64, 64, 64, 0.45);
    padding: 0.5rem 0;
}

.loginTab {
    width: 100%;
}

.cadastrogin #navLogin .selected {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(64, 64, 64, 0.7);
}

.cadastrogin #conteinerLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(24, 24, 24, 0.45);
    padding-top: 50px;
    margin-top: 3px;
    padding-bottom: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    gap: 30px;
}

.cadastrogin #conteinerLogin #userDoll,
.cadastrogin #conteinerLogin #userDollRegister {
    width: 80px;
    height: 80px;
    background-color: #ccff66;
    border-radius: 20px;
    margin-bottom: 30px;
}

#conteinerLogin #userDoll #imgUser{
    width: 80px;
}

#userDollRegister {
    background-image: url(../img/doolCad.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cadastrogin #conteinerLogin select {
    color: #f0efef;
    cursor: pointer;
    width: 80px;
    height: 20px;
    background-color: transparent;
    border: none;
    margin-bottom: 28px;
}

option {
    color: #f0efef;
    background-color: #222;
}

input {
    width: 80%;
    max-width: 300px;
}

.cadastrogin #conteinerLogin #btnLogin,
.cadastrogin #conteinerLogin #btnRegiter {
    font-family: 'Roboto';
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    color: #f0efef;
    border-radius: 2rem;
    background-image: linear-gradient(15deg, #2eb3c4 60%, #2ec4b6 80%);
}

#divDoTelefone{
    max-width: 300px;
}

#passwordDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 80%;
    max-width: 300px;
}

#passwordRegister {
    width: 100%;
}

#messageBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-direction: column;
}