/* user data */
#profile {
    display: flex;
    flex-wrap: wrap;
}

#profile #mainMethod {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10%;
}

#profile #mainMethod p {
    flex: 50%;
    padding-left: 10%;
}

#profile .paymentSubtitle {
    padding-bottom: 5%;
}

#profile #otherMethods {
    display: flex;
    flex-flow: row nowrap;
    gap: 20%;
    justify-content: center;
    align-content: center;
}

#profile #otherMethods span {
    font-size: 1.2rem;
}

#profile #userInformation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10%;
}

#profile #userInformation p {
    flex: 50%;
    padding-left: 10%;
    padding-bottom: 5%;
}