#spacUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-block: 20px;
}

#spacUser h2 {
    font-size: 1.8rem;
}

.avatar {
    width: 110px;
    background-color: rgba(49, 16, 114, 0.54);
    border-radius: 40px;
    margin-block: 20px;
}

#spacUser #tempoMemeiro {
    font-size: 0.8rem;
}

#spacUser #bar {
    width: 250px;
    height: 1px;
    background-color: #DE6EFC;
    margin-block: 20px;
}

.pocket {
    font-family: 'Rubik Dirt', cursive;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 10px;
}