#spacUser {
    display: flex;
    flex-direction: column;
    margin-block: 20px;
}

#spacUser h2 {
    font-size: 1.8rem;
}

#spacUser #avatar {
    width: 80px;
    height: 110px;
    background-color: rgba(49, 16, 114, 0.54);
    border-radius: 40px;
    margin-block: 20px;
}

#spacUser #tempoMemeiro {
    font-size: 0.8rem;
}

#spacUser #bar {
    width: 250px;
    height: 1px;
    background-color: #DE6EFC;
    margin-block: 20px;
}

#spacUser #pocket {
    font-family: 'Rubik Dirt', cursive;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 10px;
}

/* ---------- conteiner Store ---------- */

#conteinerStore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conteinerStore #bonus {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 140px;
    background-color: rgba(48, 47, 47, 0.51);
    border-radius: 20px;
    margin-block: 20px;
}

/* #conteinerStore #bonus #loginBonus {
    
} */

#conteinerStore h3 {
    font-size: 1.1rem;
    flex-basis: 100%;
    text-align: center;
    margin-block: 10px;
}

/* ---------- Conteiner figures/store ---------- */

#conteinerStore #storeFig{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 650px;
    height: 300px;
    background-color: rgba(48, 47, 47, 0.51);
    border-radius: 20px;
    padding: 10px;
}

#conteinerStore #storeFig .conteinerPack {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#conteinerStore #storeFig .conteinerPack img {
    width: 150px;
    height: 200px;
}

#conteinerStore #storeFig .conteinerPack .btnPay {
    width: 80px;
    height: 20px;
    border-radius: 20px;
    background-image: linear-gradient(15deg,#2eb3c4 60%,#2EC4B6 80%);
    border: none;
    margin: 10px;
    cursor: pointer;
}