@import url('./module/css/home.css');
@import url('./module/css/login.css');
@import url('./module/css/store.css');
@import url('./module/css/profile.css');
@import url('./module/css/trading.css');
@import url('./module/css/album.css');
@import url('./module/css/colection.css');
@import url('./module/css/cart.css');
@import url('./module/css/spaceUser.css');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    animation-duration: 200ms;
    box-sizing: border-box;
}

*::-webkit-scrollbar{
    width: 8px;
}

*::-webkit-scrollbar-track{
    background: #0000;
}
*::-webkit-scrollbar-thumb{
    background: #80808040;
    border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover{
    background: #80808080;
}

body {
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    align-items: center;
	background: linear-gradient(60deg, #AA26E8,#AA26E8,#AA26E8,#751a9f, #230730,#751a9f, #AA26E8,#AA26E8,#AA26E8, #751a9f, #230730,#751a9f,#AA26E8,#AA26E8,#AA26E8, #AA26E8,#AA26E8,#AA26E8,#751a9f, #230730,#751a9f);
    backdrop-filter: blur(200px);
	background-size: 200% 200%;
    min-height: 100vh;
	animation: gradient 20s ease-in-out infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#window{
    color: white;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    width: 95vw;
    height: 92vh;
    max-width: 1100px;
    background-color: #0A0A0A;
    border-radius: 20px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    padding: 0 0rem;
    flex-wrap: wrap;
}

#headerLeft{
    display: flex;
    font-family: 'Rubik Dirt', cursive;
    font-size: 1.3rem;
    align-items: center;
}

#headerLeft h1{
    font-weight: 400;
    cursor: pointer;
}

#headerRight{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: end;
    flex-grow: 3;
}

#headerRight a {
    font-size: 0.9rem;
}

a, a:visited {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

main{
    height: 90vh;
    overflow-y: scroll;
    padding: 2rem 2rem 0;
}

.pageWithUser {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

#loginAnchorButton{
    font-family: 'Roboto';
    font-size: 0.8rem;
    cursor: pointer;
    padding: 0.3rem 1.2rem;
    color: white;
    border-radius: 2rem;
    background-image: linear-gradient(15deg,#2eb3c4 60%,#2EC4B6 80%);
}

input {
    background-color: #47474741;
    color: #fff;
    border: none;
    border-bottom: 1px solid #AA26E888;
    height: 20px;
    padding: 0.2rem 0.5rem;
}

.clickable{
    cursor: pointer;
}

.injectedSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.uploadDiv{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 32px 20px;
    background-color: #222;
    border-radius: 20px;
    gap: 32px;
}

#imageUploadInput{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-row{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.addButton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    width: auto;
    height: auto;
    border: none;
    border-radius: 12px;
    background-color: #751a9f;
    cursor: pointer;
}

#selectCollectionInput{
    color: #FFF;
    background-color: #0008;
}

.uploadInput::-webkit-file-upload-button{
    display: none;
}

.uploadInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    content: 'Clique ou Arraste aqui';
    display: inline-block;
    border: 1px solid #9f25d8;
    border-radius: 20px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 2px 2px #000;
    font-weight: 500;
    font-size: 1rem;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.gap-small{
    gap: 12px;
}

.gap-big{
    gap: 40px;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}